<template name="simpleListLayout">
	{{> simpleListStyles }}
	{{#if options.styles}}
		{{#each style in options.styles}}
			{{> Template.dynamic template=style}}
		{{/each}}
	{{/if}}
	<div class="simple-list-container">
		{{#if options.titleOptions}}
			{{> Template.dynamic template=options.titleOptions.template data=options.titleOptions}}
		{{/if}}
		{{> simpleListRender options=options}}
	</div>
	{{> simpleListModal options=options}}
</template>

<template name="simpleListRender">
	{{#unless isArray options.content}}
		{{> simpleListContainer options=options.content}}
	{{else}}
		{{#each content in options.content}}
			{{> simpleListContainer options=content parent=parent}}
		{{/each}}
	{{/unless}}
</template>

<template name="simpleListTitle">
	<div class="simple-list-title">
		<span class="font-title">{{ title }}</span>
	</div>
</template>

<template name="simpleListContainerMultiple">
	{{#each container in options}}
		{{> simpleListContainer options=container}}
	{{/each}}
</template>

<template name="simpleListContainer">
	{{#unless options.tabs}}
		{{> simpleListContent options=options parent=parent}}
	{{else}}
		{{> proyectoTabs options=options.tabs reactiveTabs=options.reactiveTabs}}
		{{#each tab in options.tabs}}
			{{> simpleListContent options=tab parent=instance reactiveTabs=options.reactiveTabs}}
		{{/each}}
	{{/unless}}
</template>

<template name="simpleListContent">
	<div id={{ options.tabId }} class="simple-list-content {{#if options.tabId}}content-hide{{/if}} {{#if isEquals options.contentType "cards"}}list-cards{{/if}} {{#if isEquals options.contentType "table"}}list-table{{/if}}">
		{{#unless options.content}}
			{{#unless or reactiveTabs options.reactiveTab}}
				{{#unless isEquals options.contentType "custom"}}
					{{#if isEquals options.contentType "cards"}}
						{{> proyectoCardList options=options}}
					{{/if}}
					{{#if isEquals options.contentType "table"}}
						{{> tabularTable
							table=options.contentOptions.table
							id=options.contentOptions.id
							selector=(concatObject options.contentOptions.selector instance.fakeSelector)
							tabularOptions=options.contentOptions.tabularOptions
							options=options}}
					{{/if}}
				{{else}}
					{{> Template.dynamic template=options.contentTemplate data=options.contentOptions}}
				{{/unless}}
			{{else}}
			{{> Template.dynamic
				template=(parent.reactiveTabs.get (concatString options.tabId "Template"))
				data=(parent.reactiveTabs.get (concatString options.tabId "Options"))}}
			{{/unless}}
		{{else}}
			{{> simpleListRender options=options parent=parent}}
		{{/unless}}
	</div>
</template>

<template name="simpleListModal">
	{{#unless isArray options.content}}
		{{#unless options.content.tabs}}
			{{#if options.content.modalOptions}}
				{{#unless isArray options.content.modalOptions}}
					{{> proyectoModal options=options.content.modalOptions}}
				{{else}}
					{{#each modal in options.content.modalOptions}}
						{{> proyectoModal options=modal}}
					{{/each}}
				{{/unless}}
			{{/if}}
		{{else}}
			{{#each tab in options.content.tabs}}
				{{#unless tab.content}}
					{{#if tab.modalOptions}}
						{{#unless isArray tab.modalOptions}}
							{{> proyectoModal options=tab.modalOptions}}
						{{else}}
							{{#each modal in tab.modalOptions}}
								{{> proyectoModal options=modal}}
							{{/each}}
						{{/unless}}
					{{/if}}
				{{else}}
					{{> simpleListModal options=tab}}
				{{/unless}}
			{{/each}}
		{{/unless}}
	{{else}}
		{{#each content in options.content}}
			{{#if content.modalOptions}}
				{{#unless isArray content.modalOptions}}
					{{> proyectoModal options=content.modalOptions}}
				{{else}}
					{{#each modal in content.modalOptions}}
						{{> proyectoModal options=modal}}
					{{/each}}
				{{/unless}}
			{{/if}}
		{{/each}}
	{{/unless}}
</template>

<template name="proyectoCardList">
	{{#unless (instance.subs.get options.collection)}}
		{{> spinner }}
	{{else}}
		<div class="simple-list-top-content-container">
			{{#if or options.contentOptions.cardSearch options.contentOptions.cardAdd options.contentOptions.cardCustomLeft options.contentOptions.cardCustomRight}}
				<div class="simple-list-top-content">
					<div class="simple-list-search-container">
						{{#if options.contentOptions.cardSearch}}
							<div class="simple-list-search-bar proyecto-input-container">
								<i class="mdi mdi-magnify"></i>
								<input type="text" class="proyecto-input proyecto-search {{ options.contentOptions.cardSearch }}" placeholder="Buscar" />
							</div>
						{{/if}}
						{{#if options.contentOptions.cardCustomLeft}}
							{{> Template.dynamic template=options.contentOptions.cardCustomLeft data=options.contentOptions.cardCustomLeftOptions}}
						{{/if}}
					</div>
					<div class="simple-list-add-container">
						{{#if options.contentOptions.cardAdd}}
							<div class="simple-list-add-btn">
								<button class="btn-floating waves-effect waves-proyecto black {{ options.contentOptions.cardAdd }}">
									<i class="mdi mdi-plus"></i>
								</button>
							</div>
						{{/if}}
						{{#if options.contentOptions.cardCustomRight}}
							{{> Template.dynamic template=options.contentOptions.cardCustomRight data=options.contentOptions.cardCustomRightOptions}}
						{{/if}}
					</div>
				</div>
			{{/if}}
		</div>
		<div class="simple-list-cards-container">
			{{> cardIconStyles options=options.contentOptions}}
			{{#each card in (instance.content.get options.collection)}}
				{{#unless options.contentOptions.containerClass}}
					{{> cardIconTitulo
						self=card
						options=options.contentOptions
						title=(getProperty card options.contentOptions.cardTitle)
						subtitle=(getProperty card options.contentOptions.cardSubtitle)
						id=(getProperty card options.contentOptions.cardId)}}
				{{else}}
					<div class="{{ getCSSClass options.contentOptions.containerClass }}">
						{{> cardIconTitulo
							self=card
							options=options.contentOptions
							title=(getProperty card options.contentOptions.cardTitle)
							subtitle=(getProperty card options.contentOptions.cardSubtitle)
							id=(getProperty card options.contentOptions.cardId)}}
					</div>
				{{/unless}}
			{{/each}}
		</div>
	{{/unless}}
</template>

<template name="proyectoTabs">
	<div class="proyecto-tabs-container">
		<ul class="tabs proyecto-tabs font-title">
			{{#each tab in options}}
				<li class="tab {{ tab.selector }}">
					<a href="#{{ tab.tabId }}" rel={{ tab.tabId }}>{{ tab.title }}</a>
				</li>
			{{/each}}
		</ul>
	</div>
</template>

<template name="proyectoModal">
	{{> proyectoModalStyles }}
	<div class="modal proyecto-modal {{ options.columnType }}-column {{ options.selector }}">
		<div class="modal-content proyecto-modal-content">
			<div class="proyecto-modal-header">
				{{#unless instance.editAutoForm}}
					<span class="font-title">{{ options.titulo }}</span>
				{{else}}
					<span class="font-title">{{ options.editTitulo }}</span>
				{{/unless}}
			</div>
			{{#unless instance.modalReady}}
				{{> spinner }}
			{{else}}
				<div class="proyecto-modal-body">
					{{#unless options.autoForm}}
						<div class="proyecto-modal-body-content with-text-content">
							{{#unless isArray options.textContent}}
								<span>{{ options.textContent }}</span>
							{{else}}
								{{#each line in options.textContent}}
									<span>{{ line }}</span>
								{{/each}}
							{{/unless}}
						</div>
					{{else}}
						{{#with options.autoForm}}
							{{#unless instance.editAutoForm}}
								{{#autoForm
									class="proyecto-modal-body-content"
									schema=(getProperty Schemas schema)
									id=id
									type="method"
									meteormethod=method
									omitFields=omitFields
									validation="submit"
									resetOnSuccess=reset}}
									{{#each field in fields}}
										{{#unless typeOf field "object"}}
											{{> afFieldInput name=field}}
										{{else}}
											{{> afFieldInput name=field.name options=(getField instance field.options)}}
										{{/unless}}
									{{/each}}
									{{#unless search}}
										<button class="{{ submitClass }} content-hide" type="submit">Submit</button>
									{{else}}
										<button class="{{ searchClass }} content-hide search-filter">Search</button>
										<div class="tabular-clear-search">
											<div class="btn proyecto-btn waves-effect waves-proyecto js-tabular-clear-search">Limpiar Filtro</div>
										</div>
									{{/unless}}
								{{/autoForm}}
							{{else}}
								{{#autoForm
									class="proyecto-modal-body-content"
									schema=(getProperty Schemas schemaUpdate)
									doc=instance.doc
									id=id
									type="method-update"
									meteormethod=methodUpdate
									omitFields=(concatText "_id, createdAt, createdBy" omitFieldsUpdate)
									validation="submit"
									resetOnSuccess=reset}}
									{{#unless updateFields}}
										{{#each field in fields}}
											{{#unless typeOf field "object"}}
												{{> afFieldInput name=field}}
											{{else}}
												{{> afFieldInput name=field.name options=(getField instance field.options)}}
											{{/unless}}
										{{/each}}
									{{else}}
										{{#each field in updateFields}}
											{{#unless typeOf field "object"}}
												{{> afFieldInput name=field}}
											{{else}}
												{{> afFieldInput name=field.name options=(getField instance field.options)}}
											{{/unless}}
										{{/each}}
									{{/unless}}
									<button class="{{ submitClass }} content-hide" type="submit">Submit</button>
								{{/autoForm}}
							{{/unless}}
						{{/with}}
					{{/unless}}
				</div>
				<div class="proyecto-modal-footer">
					<div class="proyecto-modal-btns-container">
						{{#unless options.noCancelarBtn}}
							<div class="proyecto-modal-btn-cancelar proyecto-btn-container">
								<button class="btn proyecto-btn waves-effect waves-proyecto {{#if options.autoForm}}{{#unless options.autoFrom.search}}autoform-{{/unless}}{{/if}}{{ options.cancelarSelector }}">
									<span class="font-title">
										{{#unless options.cancelarTitle}}
											Cancelar
										{{else}}
											{{ options.cancelarTitle }}
										{{/unless}}
									</span>
								</button>
							</div>
						{{/unless}}
						<div class="proyecto-modal-btn-aceptar proyecto-btn-container">
							{{#if and options.aceptarEvent options.autoForm}}
								<button class="btn proyecto-btn waves-effect waves-proyecto {{ options.aceptarEventSelector }}">
									<span class="font-title">
										{{#unless options.aceptarTitle}}
											Aceptar
										{{else}}
											{{ options.aceptarTitle }}
										{{/unless}}
									</span>
								</button>
								<button class="hide-this autoform-{{ options.aceptarSelector }}">submit form</button>
							{{else}}
								<button class="btn proyecto-btn waves-effect waves-proyecto {{#if options.autoForm}}autoform-{{/if}}{{ options.aceptarSelector }}">
									<span class="font-title">
										{{#unless options.aceptarTitle}}
											Aceptar
										{{else}}
											{{ options.aceptarTitle }}
										{{/unless}}
									</span>
								</button>
							{{/if}}
						</div>
					</div>
				</div>
			{{/unless}}
		</div>
	</div>
</template>
