<template name="simpleListStyles">
	<style for="simpleListLayout">
		.simple-list-container {
			max-width: 100%;
			max-height: inherit;
			margin: 0 auto;
			flex-direction: column;
			flex-wrap: nowrap;
		}
		.simple-list-container,
		.simple-list-container > * {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.simple-list-container .simple-list-content {
			align-items: flex-start;
		}
		.simple-list-title {
			text-transform: uppercase;
			text-align: center;
			font-size: 40px;
			height: 120px;
			color: var(--color-page-title);
		}
		.simple-list-content {
			/*max-height: calc(100vh - 176px);*/
			flex-wrap: wrap;
		}
		.simple-list-cards-container {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;
			overflow-x: hidden;
			overflow-y: auto;
			min-height: 320px;
			/*max-height: calc(100vh - 226px);*/
		}
		/*@media (min-width: 601px) {
			.simple-list-content {
				max-height: calc(100vh - 184px);
			}
			.simple-list-cards-container {
				max-height: calc(100vh - 234px);
			}
		}*/
		.simple-list-content.list-cards {
			width: 75%;
		}
		.simple-list-content.list-table {
			width: 95%;
		}
		.list-cards .simple-list-top-content-container {
			height: 50px;
			width: 100%;
		}
		.list-cards .simple-list-top-content-container,
		.list-cards .simple-list-top-content-container > * {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.list-cards .simple-list-top-content-container .simple-list-top-content {
			height: inherit;
			width: 90%;
		}
		.list-cards .simple-list-top-content-container .simple-list-top-content > * {
			height: inherit;
			width: 50%;
			display: flex;
			align-items: center;
		}
		.simple-list-search-container {
			justify-content: flex-start;
		}
		.simple-list-search-bar {
			height: inherit;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.simple-list-search-bar i {
			margin-right: 8px;
		}
		.simple-list-add-container {
			justify-content: flex-end;
		}
		.simple-list-add-btn > button {
			height: 50px;
			width: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.proyecto-card {
			min-width: 165px;
			min-height: 155px;
			background-color: #FFF;
			color: #000;
			margin: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.proyecto-tabs-container {
			max-width: 100%;
			height: 72px;
			align-items: flex-start;
		}
		.proyecto-tabs-container .proyecto-tabs {
			height: 48px;
			z-index: 0;
		}
		.proyecto-tabs-container .proyecto-tabs .tab {
			height: inherit;
			width: 230px;
			text-transform: none;
			font-size: 18px;
			z-index: 2;
		}
		.proyecto-tabs-container .proyecto-tabs .tab a:not(.active) {
			font-weight: 100;
		}
		.proyecto-tabs-container .proyecto-tabs .tab a.active {
			font-weight: 600;
		}
		.proyecto-tabs-container .proyecto-tabs .indicator {
			height: inherit;
			z-index: 1;
		}
	</style>
</template>

<template name="proyectoModalStyles">
	<style for="proyectoModal">
		.modal.proyecto-modal {
			min-height: 265px;
			max-height: 75vh;
			overflow-x: hidden;
			overflow-y: auto;
		}
		.modal.proyecto-modal.single-column {
			width: 600px;
		}
		.modal.proyecto-modal.double-column {
			width: 768px;
		}
		@media only screen and (max-width: 992px) and (min-width: 650px) {
			.modal.proyecto-modal {
				min-width: 600px;
				max-width: 768px;
			}
		}
		.proyecto-modal .proyecto-modal-content {
			padding: 0;
			width: 100%;
			height: auto;
		}
		.proyecto-modal .proyecto-modal-content .proyecto-modal-header {
			width: 100%;
			height: 64px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.proyecto-modal .proyecto-modal-content .proyecto-modal-header span {
			font-size: 25px;
		}
		.proyecto-modal-body {
			width: 100%;
			min-height: 130px;
		}
		.proyecto-modal-body,
		.proyecto-modal-body > * {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.proyecto-modal-body .proyecto-modal-body-content {
			margin-top: 16px;
			width: 80%;
			flex-wrap: wrap;
			justify-content: space-around;
			align-content: space-between;
		}
		.proyecto-modal-body .proyecto-modal-body-content.with-text-content {
			flex-direction: column;
		}
		.proyecto-modal-body .proyecto-modal-body-content span {
			font-size: 16px;
		}
		.proyecto-modal-footer {
			width: 100%;
			height: 72px;
			justify-content: center;
		}
		.proyecto-modal-footer,
		.proyecto-modal-footer > * {
			display: flex;
			align-items: center;
		}
		.proyecto-modal-btns-container {
			width: 75%;
			justify-content: space-around;
		}
		.proyecto-modal-btns-container .proyecto-btn-container .proyecto-btn {
			width: 200px;
			height: 40px;
		}
		.proyecto-modal-btns-container .proyecto-btn-container .proyecto-btn span {
			text-transform: uppercase;
			font-size: 16px;
		}
		.tabular-clear-search {
			width: 100%;
			height: 56px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	</style>
</template>
